body {
    font-family: "Nunito", sans-serif;
}

nav {
    background-color: teal; 
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
}

#main-menu {
    display: flex;
    gap: 50px;
}

#main-menu li {
    list-style: none;
}

.logo {
    color: white;
    font-size: 32px;
    font-family: "Lilita One", sans-serif;
}

#main-menu button, #main-menu a {
    background-color: transparent;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    color: white;
    border-width: 0;
    font-weight: bold;
    text-decoration: none;
}

#main-menu .dropdown {
    background-color: beige;
    color: teal;
    margin: 0px;
    padding: 20px;
    position: absolute;
    display: none;
}

#main-menu .dropdown a {
    color: teal;
}

#main-menu .sub-menu:hover .dropdown {
    display: block;
}